mat-card {
  border-radius: 10px;
  background-color: var(--bg-card);
}

mat-toolbar {
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--color-text);
}

mat-header-cell {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--bg-header-cell);
  color: var(--color-text-black);
  //border-radius: 10px;
}
mat-cell {
  background-color: var(--bg-cell);
  color: var(--color-text-black);
}
.icon-category {
  padding-left: 10px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background-color: var(--background);
  display: flex;
  text-align: center;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary)!important;
}


.chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 5px; // espaço entre dois botões
}



//CALENDARIO
.div-date {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.example-month-picker {
  pointer-events: none;
  display: none;
}

.mat-calendar-arrow {
  display: none;
}

.mat-calendar-period-button {
  pointer-events: none;
}

mat-form-field {
  width: 30%;
  top: 0em !important;
}

mat-datepicker-toggle {
  position: relative;
  top: 8px;
  color: #ffffff;
}

mat-datepicker-toggle:hover {
  color: #62D2A2;
}

//fundo datepicker
::ng-deep .mat-datepicker-content .mat-calendar {
  background-color: var(--bg-card);
}

//meses datepicker
::ng-deep .mat-calendar-body-cell-content {
  color: var(--color-text-black);
}


//cor de fundo data selecionada
::ng-deep .mat-calendar-body-selected {
  color: var(--color-text);
  background-color: var(--primary);
}

//ano exibido
::ng-deep .mat-calendar-body-label {
  color: var(--color-text-black);
}

//botao escolher ano
::ng-deep .mat-datepicker-content {
  color: var(--color-text-black);
}

//arrow
::ng-deep .mat-calendar-arrow {
  fill: var(--color-text-black);
}

//previous
::ng-deep .mat-datepicker-content .mat-calendar-previous-button {
  color: var(--color-text-black);
}

//next
::ng-deep .mat-datepicker-content .mat-calendar-next-button {
  color: var(--color-text-black);
}

::ng-deep .mat-calendar-table-header {
  color: var(--color-text-black);
}

//cor de fundo ao passar o mouse sobre as datas
::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: var(--primary);
  color: var(--color-text);
}


//OCULTAR A LINHA SUBLINADA DO FORM-FIELD
::ng-deep .mat-form-field-underline {
  display: none;
}

