mat-card {
  border-radius: 10px;
}

mat-toolbar {
  border-radius: 10px;
}

.btn-icon {
  margin: 0 15px;
  animation: go-back 1s infinite alternate;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background-color: #eaeaea;
  display: flex;
  text-align: center;
  justify-content: center;
}

//SEARCH
.search-container {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-container form {
  width: 50%;
  position: relative;
}

.search-container mat-icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}


mat-tab-group {
  width: 20%;
}