<app-info-finance
  *ngIf="finance$ | async as finance"
  [finance]="finance"
></app-info-finance>

<div class="search-container">
  <form>
    <mat-icon aria-label="pesquisar">search</mat-icon>
    <input
      type="text"
      placeholder="Pesquise uma Categoria"
      (input)="search($event)"
    />
  </form>
</div>

<mat-card>
  <mat-toolbar color="primary">
    <span>Visão Geral</span>

    <div class="div-date">
      <mat-form-field>
        <input matInput [matDatepicker]="dp" [formControl]="date" readonly="true" />
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="example-flex-container">
      <button
        class="btn-icon"
        mat-icon-button
        aria-label="adicionar"
        (click)="onAdd()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        class="btn-icon"
        mat-icon-button
        aria-label="Receitas"
        (click)="appetizer()"
      >
        <mat-icon>arrow_upwards</mat-icon>
      </button>
      <button
        class="btn-icon"
        mat-icon-button
        aria-label="Despesas"
        (click)="exits()"
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-app-list
      *ngIf="finance$ | async as finance; else loading"
      [finance]="finance"
      (edit)="onEdit($event)"
      (remove)="onRemove($event)"
    ></app-app-list>

    <!--Caso o observable retornar falso, exibe o spinner-->
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>
