::ng-deep .mat-dialog-container {
  color: var(--color-text-black);
  background: var(--bg-card);
}

.ok {
    background-color: var(--primary);
    color: var(--color-text);
}

.cancel {
    background-color: var(--warn);
    color: var(--color-text);
}