<mat-table [dataSource]="finance">
  <ng-container matColumnDef="credit">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let fina">
      {{ fina.credit | currency : "BRL" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let fina"> {{ fina.description }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let fina">
      {{ fina.category }}
      <mat-icon
        class="icon-category"
        aria-hidden="false"
        aria-label="Categoria do curso"
        >{{ fina.category | category }}</mat-icon
      >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      Ação
    </mat-header-cell>

    <mat-cell *matCellDef="let fina" class="action-column">
      <button
        class="button-icon-edit"
        mat-icon-button
        color="accent"
        aria-label="Editar dado"
      >
        <mat-icon (click)="onEdit(fina)">edit</mat-icon>
      </button>

      <button
        class="button-icon-delete"
        mat-icon-button
        color="warn"
        aria-label="Remover dado"
      >
        <mat-icon (click)="onDelete(fina)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
