mat-table {
  overflow: auto;
  max-height: 600px;
}

mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}

.action-column {
  flex: 0 0 75px; //Jogar tudo para a direita com 75px de espaço
}

.action-column-header {
  flex: 0 0 75px;
}

.button-icon-edit {
  animation: go-back 1s infinite alternate;
}

.button-icon-edit:hover {
  color: #fbff00;
}

.button-icon-delete {
  animation: go-back 1s infinite alternate;
}

.button-icon-delete:hover {
  color: rgb(255, 0, 0);
}

@keyframes go-back {
  from {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0);
  }
}

.icon-category {
  padding-left: 10px;
}
