.message {
    position: fixed;
    top: 7em;
    width:50%;
    margin-left: 50%;
    left: -25%;
    z-index: 10;
    background-color: #c2defc;
    border: 3px solid #673AB7;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.message-header button {
    padding: 0.5em;
    cursor: pointer;
}

.message p {
    font-size: 1.2em;
}

.clear {
    color: #000000;
}

.clear:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.4);
}
