mat-card {
  border-radius: 10px;
  background-color: var(--bg-card);
}

mat-toolbar {
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--color-text);
}

mat-header-cell {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--bg-header-cell);
  color: var(--color-text-black);
}
mat-cell {
  background-color: var(--bg-cell);
  color: var(--color-text-black);
}
.icon-category {
  padding-left: 10px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background-color: var(--background);
  display: flex;
  text-align: center;
  justify-content: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary)!important;
}

