<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <div>
    <mat-toolbar>
      <span>Controle Financeiro</span>
      <div>
        <button
          mat-icon-button
          aria-label="theme-ligth"
          *ngIf="check"
          (click)="toggleDarkTheme((check = false))"
        >
          <mat-icon class="btn-theme-light">wb_sunny</mat-icon>
        </button>

        <button
          class="btn-theme-dark"
          mat-icon-button
          aria-label="theme-dark"
          *ngIf="!check"
          (click)="toggleDarkTheme((check = true))"
        >
          <mat-icon class="btn-theme-dark">brightness_3</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
