<nav class="animate__animated animate__bounce general">
  <div class="container" (click)="appetizer()">
    <div class="icon-header">
      <header>ENTRADAS</header>
      <mat-icon>arrow_upwards</mat-icon>
    </div>
    <div class="display">
      {{ getTotalAppetizer() | currency : "BRL" }}
    </div>
  </div>

  <div class="container" (click)="exits()">
    <div class="icon-header">
      <header>SAÍDAS</header>
      <mat-icon>arrow_downwards</mat-icon>
    </div>
    <div class="display">
      {{ getTotalExits() | currency : "BRL" }}
    </div>
  </div>

  <div class="containerTotal">
    <div class="icon-header">
      <header>TOTAL</header>
      <mat-icon>attach_money</mat-icon>
    </div>
    <div class="display">
      {{ getTotal() | currency : "BRL" }}
    </div>
  </div>
</nav>
