<div class="container">
    <div>
        <mat-card (click)="appetizer()">
            Entradas <br><br>
            {{ getTotalAppetizer() | currency: "BRL"}}
        </mat-card>
    </div>
        
    <div>
        <mat-card (click)="exits()">
            Saídas <br><br>
            {{ getTotalExits() | currency: "BRL" }}
        </mat-card>
    </div>

    <div>
        <mat-card>
            Total <br><br>
            {{ getTotal() | currency: "BRL" }}
        </mat-card>
    </div>
</div>
