mat-card {
  max-width: 600px;
  min-width: 400px;
  margin: 2em auto;
  text-align: center;
  border-radius: 10px;
  background-color: var(--bg-card);
}

mat-form-field {
  display: block;
}
mat-card-content {
  padding-top: 80px;
  background-color: var(--bg-card);
}
mat-label {
  color: var(--color-text-gray) !important;
}
h2 {
  color: var(--color-text-black) !important;
}
//cor placeholder
::ng-deep .mat-input-element::placeholder {
  color: var(--color-text-gray) !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-text-gray) !important;
}

//cor placeholder
::ng-deep .mat-select-placeholder {
  color: var(--color-text-gray) !important;
}
::ng-deep .mat-select-arrow {
  color: var(--color-text-black);
}
::ng-deep .mat-select-value {
  color: var(--color-text-black);
}

nav {
  display: flex;
}

.full-width {
  width: 100%;
  color: var(--color-text-black);
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.button-register {
  margin: 0 15px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background-color: var(--primary);
  color: var(--color-text);
}

.button-register:hover {
  transform: scale(1.05);
  background-color: #62D2A2;
}

.button-cancel {
  margin: 0 15px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background-color: var(--warn);
  color: var(--color-text);
}

.button-cancel:hover {
  background-color: #f75c51;
  transform: scale(1.05);
}


//BOTÃO DESABILITADO
::ng-deep .mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  color: var(--color-text-disabled);
}


::ng-deep .mat-snack-bar-container {
  color: #FFFFFF;
  background: #036b19;
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button {
  color: #FFFFFF;
  background: transparent;
}

//cor icone no form field
.color-btn {
  color: var(--color-text-black);
}