@import "@angular/material/theming";

//>>>OUTRA OPÇÃO DE MUDANÇA DE TEMA<<<
// $general-typography: mat-typography-config(
//   $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
//   $body-2:        mat-typography-level(17px, 25px, 600)
// );
// // Be sure that you only ever include 'mat-core' mixin once!
// // it should not be included for each theme.
// @include mat-core($general-typography);

// // define a real custom palette (using http://mcg.mbitson.com)
// $pl-green: (
//   ..
// )
// $pl-blue: (
//   ..
// )
//   // mandatory stuff for theming
// $pl-palette-primary: mat-palette($pl-green);
// $pl-palette-accent:  mat-palette($pl-blue);

// // include the custom theme components into a theme object
// $pl-theme: mat-light-theme($pl-palette-primary, $pl-palette-accent);

// // include the custom theme object into the angular material theme
// @include angular-material-theme($pl-theme);

// .dark-theme {
//   $alt-theme: mat-dark-theme($pl-palette-primary, $pl-palette-accent);
//   color: $light-primary-text;
//   @include angular-material-theme($alt-theme);

:root {
  height: 100%;
  --primary: #310f61;
  --background: #ffffff;
  --warn: #FB1B0A;
  --bg-card: #ffffff;
  --bg-cell: #ffffff;
  --bg-header-cell: #ffffff;
  --color-text-black: #000000;
  --color-text-gray: #A7A7A7;
  --color-text: #ffffff;
  --accent: #FFCA2C;

}

:root .dark-theme {
  height: 100%;
  --primary: #4D80D4;
  --background: #26293b;
  --warn: #ff3863;
  --bg-card: #303347;
  --bg-cell: #303347;
  --bg-header-cell: #303347;
  --color-text-black: #ffffff;
  --color-text-gray: #FFFFFF;
  --color-text: #ffffff;
  --accent: #FFCA2C;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

// BOTÕES TOOLBAR
.example-flex-container {
  display: flex;
}

.btn-icon {
  background-color: var(--primary);
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.btn-icon:hover {
  background-color: #6993d6;
  transform: scale(1.1);
}

input {
  //Primeira letra maiuscula
  text-transform: capitalize;
}


