@import "@angular/material/theming";

:root {
  height: 100%;
  --primary: #310f61;
  --background: #ffffff;
  --warn: #FB1B0A;
  --bg-card: #ffffff;
  --bg-cell: #ffffff;
  --bg-header-cell: #ffffff;
  --color-text-black: #000000;
  --color-text-gray: #A7A7A7;
  --color-text: #ffffff;
  --accent: #FFCA2C;

}

:root .dark-theme {
  height: 100%;
  --primary: #4D80D4;
  --background: #26293b;
  --warn: #ff3863;
  --bg-card: #303347;
  --bg-cell: #303347;
  --bg-header-cell: #303347;
  --color-text-black: #ffffff;
  --color-text-gray: #FFFFFF;
  --color-text: #ffffff;
  --accent: #FFCA2C;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

// BOTÕES TOOLBAR
.example-flex-container {
  display: flex;
}

.btn-icon {
  background-color: var(--primary);
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.btn-icon:hover {
  background-color: #6993d6;
  transform: scale(1.1);
}

// input {
//   //Primeira letra maiuscula
//   text-transform: capitalize;
// }


